.Header {
    display: flex;
    margin: 1em;
    justify-content: space-between;
    padding: 1em;
    color: black;

    &--title {
        font-size: larger;
        font-weight: 600;
    }

    &--link {
        text-decoration: none;
        color: inherit;
        font-weight: 500;
    }

    &--item-center {
        display: flex;
        justify-items: center;
        align-items: center;
    }
}